<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
</head>
<body>
    <h2>Giriş Yap</h2>
    <form id="loginForm">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Giriş Yap</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {

            var tokenx2 = localStorage.getItem('jwtToken');
            console.log("sayfa başı YARAPKEN TOKEN OLUSTU")
            console.log(tokenx2)

            $('#loginForm').submit(function(e) {
                e.preventDefault();
                var username = $('#username').val();
                var password = $('#password').val();
                loginUser(username, password);
            });

            function loginUser(username, password) {
                $.ajax({
                    url: 'http://127.0.0.1:8000/api/token/',
                    type: 'POST',
                    data: {
                        username: username,
                        password: password
                    },
                    success: function(response) {
                        //alert("Giriş başarılı! Ana sayfaya yönlendiriliyorsunuz.");
                        console.log("RESPONSE")
                        console.log(response)
                        var token = response.access;
                        window.localStorage.removeItem('jwtToken');
                        window.localStorage.setItem('jwtToken', token);
                        var tokenx = localStorage.getItem('jwtToken');
                        console.log("GİRİŞ YARAPKEN TOKEN OLUSTU")
                        console.log(tokenx)
                        window.location.href = '/';
                    },
                    error: function(xhr, status, error) {
                        alert("Giriş sırasında bir hata oluştu: " + error);
                    }
                });
            }
        });
    </script>
</body>
</html>